@model IEnumerable<EntityLayer.Concrete.Match>

<div class="fixture-section">
    <div class="container">
        <div class="row inner-custom-row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="white-match">
                            <a asp-controller="Result" asp-action="Index" asp-route-id="@item.MatchID">
                                <div>
                                    <div class="col-md-4">
                                        <div class="match-left">
                                            <div class="fixture-team-img">
                                                <img src="@item.HomeTeam.SignedUrl" width="80" height="77" alt="">
                                            </div>
                                            <div class="fixture-team-name fixture-team-left">
                                                <h1>@item.HomeTeam.Name</h1>
                                                <p>#</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="fixture-team-date">
                                            <h1>@item.HomeTeamGoals - @item.AwayTeamGoals</h1>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="match-right">
                                            <div class="fixture-team-name fixture-team-right text-right">
                                                <h1>@item.AwayTeam.Name</h1>
                                                <p>#</p>
                                            </div>
                                            <div class="fixture-team-img">
                                                <img src="@item.AwayTeam.SignedUrl" width="80" height="77" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>